*{
    padding: 0;
    margin: 0;
}
:root
{
    --scaling-factor: calc(6 * ((56vw - 400px) / 680));
    --net-red: #E50914;
    --net-gray: #858585;
}
.sarala-regular {
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sarala-bold {
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-style: normal;
  }



body
{
    background-color: #0F0F0F;
}

#brandBar
{
    height: 10vh;
    width: 100vw;
    margin-bottom: 40px;
    background-color: #1B1B1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    box-sizing: border-box;
}
.logo img
{
    height: 5.2vh;
    width: auto;
    
}
nav.rightNav ul
{
    list-style-type: none;
    display: flex;
    align-items: center;   
    gap: 7px; 
}
#container
{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 2vh 5vw;
    gap: 15px;
    
}
.contentCard
{
    height: clamp(min(10vh, 20rem), 37vh, max(90vw, 55rem));
    position: relative;
    background: linear-gradient(to top, #000 0%, #00000000 100%);
    color: white;
    font-family: "Sarala", sans-serif;
    display: flex;
    justify-content: left;
    align-items: end;
    padding: 0 0 0.5rem 0.5rem;
    /* box-sizing: border-box; */
    border: 1px solid black;
    box-shadow: inset 1px 1px 11px 2px rgba(0, 0, 0, 0.281), 1px 1px 4px rgba(0, 0, 0, 0.473);

}
.contentCard img
{
    position: absolute;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit:cover;
    z-index: -1;
}
.contentCard .title, .contentCard .infoBar
{
    z-index: 3;
}
.title
{
    font-size: calc(1rem + var(--scaling-factor));
    margin-bottom: calc(0.3rem + var(--scaling-factor));
    text-wrap: wrap;
    position: relative;

}
.infoBar
{
    font-size: calc(14px + 6%);
    font-family: sans-serif;
    display: inline-grid;
    width: 100%;
    /* grid-template-columns: 1.8fr 1.4fr 3.2fr 2fr;
     */
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-auto-columns: auto;
    justify-items: left;
    text-wrap: wrap;
    color: var(--net-gray);
}

.infoBar>span
{
  position: relative;
}


.addStrip
{
    height: clamp(80px, 12vh, 200px);
    width: 90vw;
    margin: 10vh auto;
    background: linear-gradient(to right, #333333 0%, #2626266e 68%, #2c2c2c36 100%);
    border-radius: 2px;
    display: flex;
    padding: 2vh 5vh;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 4vh;
}
.addStrip p{
    color: var(--net-gray);
    font-family: "Sarala", sans-serif;
    align-self: center;
    font-size: calc(1rem + 0.6vh);
}
.addStrip button
{
    height: 80%;
    align-self: center;
}
.net-button
{
    background-color: var(--net-red);
    padding: calc(0.5rem + 0.1vh) calc(1.5rem + 0.5vh);
    border: none;
    border-radius: 3px;
    font-family: "Inter", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: calc(0.75rem + var(--scaling-factor));
    
}
.net-button:hover
{
    opacity: 0.7;
    transition: all 0.3s;
}
.contentCard:hover .btns
{
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(2px);
}

select 
{
    appearance: none;
    
    background: transparent;
    border: 1px solid transparent;
    padding: calc(0.5rem + 0.1vh) calc(1.5rem + 0.5vh);
}

.watch
{
    background-color: rgb(45, 45, 199);
}
.btns
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 7%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
.watch, .delete{
    max-width: 50%;
    text-align: center;
}

/* dialogue style */

dialog[open]
{
    height: clamp(500px, 80vh, 800px);
    width: clamp(350px, 20vw, 650px);
    margin: auto;
    position: relative;
    background-color: black;
    color: white;
    font-family: "Sarala", sans-serif;
    display: flex;
    flex-direction: column;
}
dialog[open]::before
{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('./resources/covers/dialogcover.png') no-repeat center center;
    opacity: 0.4;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    object-fit:cover;
    z-index: -1;

}
dialog[open]>p
{
    color: white;
    font-weight: bold;
    margin: auto;
    width: 100%;
    text-align: left;
    padding: 0 5%;
    box-sizing: border-box;
    font-size: 3rem;
    text-wrap: wrap;
    height: 10px;

}
dialog[open]::backdrop
{
    backdrop-filter: blur(4px);
}

dialog[open] > form
{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 7% 5%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    justify-self: center;
    align-self: center;
    font-size: calc(1rem + 0.3vh);
    gap: 5px;
    
}
form > input[type="submit"]
{
    width: max-content;
    flex-grow: 0;
    margin: 30px;
    font-size: calc(10px + 0.9vh);
    
}
#closeDialog
{
    background-color: var(--net-gray);
}
form > p
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}